*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding:5px
}

.navbar a{
  color: green;
  text-decoration: none;
  margin-right:15px;
  font-size:18px;
  font-weight: 800;
}
.navbar div {
  display:flex;
  justify-content: space-around;
}

.about-me, .sections {
  margin:10px 20px;
}

.about-me img {
  border-radius:50%;
  width:200px;
  height:200px;
  display: block;
  margin:10px auto;
}

.about-me h1 {
  text-align:center;
  color:black; 
}
.sections h1 {
  text-align:center;
  color:black; 
  margin: 10px 0px;
}

.footer {
  background-color: gray;
  text-align: center;
  padding:10px
}

.footer a{
  color: rgb(234, 143, 127);
  text-decoration: none;
  margin-right:20px;
  font-size:15px;
}
